# Exercise05: Web Crawling

## Part B: A Simple Beautiful Soup

I would like you to find all the URLS used in the links in your webpage using the find_all method from Beautiful Soup.

You may use this starter code to assist you

In [1]:
from bs4 import BeautifulSoup
import scrapy
import os
import requests

os.chdir("C:/Users/SAI VAMSHI/Desktop/MSU MSBA/CSE801A/itm891/exercises/08")

filename='ex8.html'  # <--- change this to your file
                            # it should be in the same directory 
                            # as this notebook
with open(filename) as fh:
    parsed_page = BeautifulSoup(fh)

In [2]:
sel = scrapy.Selector(text = str(parsed_page))
all_links = sel.css("a::attr(href)").extract()
all_links

['https://en.wikipedia.org/wiki/Computer',
 'https://en.wikipedia.org/wiki/Computer_vision',
 'https://arxiv.org/abs/1905.11946v1',
 'https://arxiv.org/abs/1904.11111',
 'https://arxiv.org/abs/1906.06423']

## Part C:  Crawling Wikipedia with Beautiful Soup

I'd like you to find all the unique web pages linked to from the **Young Frankenstein** Wikipedia page that are also within the wikipedia domain.  Use the demo from today to guide your efforts.

Link: [https://en.wikipedia.org/wiki/Young_Frankenstein](https://en.wikipedia.org/wiki/Young_Frankenstein)

In [3]:
url = "https://en.wikipedia.org/wiki/Young_Frankenstein"
html = requests.get(url).content
sel = scrapy.Selector(text = html)

In [4]:
wiki_links = set(sel.css("a::attr(href)").extract())
list(wiki_links)[0:5]

['/wiki/The_A.V._Club',
 '/wiki/Dracula:_Dead_and_Loving_It',
 '/wiki/Star_Trek:_The_Original_Series',
 '#cite_ref-28',
 '/wiki/Victor_Frankenstein']

In [2]:
import scrapy
import requests
url = "https://lansing.craigslist.org/d/cars-trucks/search/cta"
html = requests.get(url).content
sel = scrapy.Selector(text = html)
sel.css("ul.rows div.result-info h3.result-heading a::text").extract()

In [17]:
sel.css("ul.rows div.result-info h3.result-heading a::text").extract()

['1999 Ford F350 Powerstroke 7.3 Work Truck',
 'Honda Fit 2015 w/ext warranty',
 '2006 Chevrolet Impala LT 4 Door (83,142 miles)',
 '2004 Ford F150 Lifted 4x4',
 'Clean Carfax!! 2007 GMC Sierra 1500! 4x4! Crew Cab! Reliable!',
 '2015 Hyundai Elantra Limited',
 '1970 VW Karmann Ghia',
 '2017 Land Rover Discovery Sport HSE Sport Utility 4D suv Black -',
 '2016 Hyundai Genesis 3.8 Sedan 4D sedan White - FINANCE ONLINE',
 'Clean! 2002 Ford Excursion Limited! Lifted 4x4! Dependable! 3rd Row!',
 '2018 Caddy Cadillac CTS Sedan 4D sedan Gray - FINANCE ONLINE',
 '2020 Buick Encore GX Select Sport Utility 4D suv Black - FINANCE',
 '2004 4Runner',
 '2018 Buick Encore Preferred Sport Utility 4D suv Black - FINANCE',
 '2014 Jeep Wrangler Altitude',
 '2019 Audi A4 allroad Premium Plus Wagon 4D wagon Green - FINANCE',
 '2018 Mercedes-Benz Metris Passenger Van 4D van Black - FINANCE ONLINE',
 '$270/mo - 2020 Toyota Corolla LE - Easy Financing!',
 '2019 BMW 4 Series 440i xDrive Coupe 2D coupe Gray - FINANCE ONLINE',
 '2016 Malibu LT',
 'Cobalt',
 '2015 Dodge Journey R/T Sport Utility 4D suv Gray - FINANCE ONLINE',
 '2005 GMC Envoy Denali',
 '2020 Buick Enclave Premium Sport Utility 4D suv Black - FINANCE ONLINE',
 '2009 Ford Edge SE',
 '2012 Ford Escape XLT',
 '2012 Land Rover Range Rover Evoque Coupe Pure Sport Utility 2D coupe',
 '2018 HYUNDAI ELANTRA SE >36 MPG',
 '2019 FORD ECOSPORT TITANIUM AWD',
 '2019 CHEVROLET EQUINOX LT AWD',
 '$382/mo - 2018 Dodge Charger SXT Plus - Easy Financing!',
 '2018 HYUNDAI ELANTRA SE >36 MPG',
 '2018 CHEVROLET EQUINOX LT>36K MILES!',
 '2019 NISSAN ALTIMA S',
 '2016 DODGE JOURNEY SE >3RD ROW!',
 '2015 CHEVROLET IMPALA',
 'Jeep liberty 2004',
 'RARE 2008 Dodge Viper SRT10 (VVO Metallic)',
 '2010 Dodge Ram 1500 SLTExtended Cab FOR ONLY $159/mo!',
 'VW Beetles for sale',
 'dodge avenger 2011',
 '2009 Chevrolet Impala LS Sedan 4D',
 '2013 Ford F150 F 150 F-150 XLTCrew Cab FOR ONLY $196/mo!',
 '2011 Acura MDX 3.7L 3.7 L 3.7-L Advance Package SHAWD AWD 3.7L Advance',
 '2017 Lexus GS GS 350 Sedan 4D sedan Black - FINANCE ONLINE',
 '2014 Ford Fiesta SE FOR ONLY $117/mo!',
 '2019 Lexus IS IS 300 Sedan 4D sedan Black - FINANCE ONLINE',
 '2017 Chevrolet Malibu LT w/ONLY 40k Miles!',
 '2013 Ford Fusion Titanium 88k LOADED! Nav-Leather-Rmt Start-Htd Seats+',
 '2013 Ford Focus 5dr HB SE',
 '2018 Audi A6 2.0T Premium Sedan 4D sedan Silver - FINANCE ONLINE',
 '2016 Scion iM Hatchback 4D hatchback Blue - FINANCE ONLINE',
 '2012 Scion xD Hatchback 4D hatchback White - FINANCE ONLINE',
 '2011 Mercedes-Benz CL-Class CL 550 4MATIC Coupe 2D coupe Black -',
 '2007 GMC Yukon 4WD 4dr 1500 SLT',
 '2011 VW Jetta',
 '2013 Chrysler Town & Country 4dr Wgn Touring',
 '2015 Ford Focus 4dr Sdn SE',
 '2008 GMC Yukon XL Denali AWD 4dr 1500',
 '2011 Ford Explorer 4WD 4dr Limited',
 '2006 Cadillac Escalade ESV 4dr AWD',
 '2011 Ford Explorer FWD 4dr Limited',
 '2015 Ford Taurus 4dr Sdn Limited FWD',
 '2017 Ford Taurus Limited FWD',
 '2010 Chevrolet Equinox AWD 4dr LT w/1LT',
 '2011 Nissan Murano SV AWD! AWD FOR ONLY $159/mo!',
 '2003 Lexus SC 430 2dr Convertible',
 '2020 Acura ILX Sedan 4D sedan Black - FINANCE ONLINE',
 '2018 Chevy Cruze 2LT CLEAN TITLE Remote start Heated seats Camera',
 '2013 Dodge Grand Caravan 4dr Wgn SXT',
 '2009 Ford F-150 4WD SuperCrew 145" XLT',
 '2012 Ford F-150 4WD SuperCrew 145" XLT',
 '2008 BMW X3',
 '2009 Pontiac G6 4dr Sdn GT w/1SB',
 '2013 Dodge Dart 4dr Sdn Limited',
 '$286/mo - 2018 Chevrolet Malibu LT 1LT 1 LT 1-LT - Easy Financing!',
 '2000 Ford Ranger XL Standard Cab',
 '2017 Acura MDX Sport Hybrid SH-AWD w/Technology Pkg Sport Utility 4D',
 '2003 Dodge Dakota Sport Plus Quad Cab 4x4',
 '2007 Saturn Aura XE',
 '2017 Jag Jaguar XF XF 35t Premium Sedan 4D sedan Blue - FINANCE ONLINE',
 '2007 Ford Taurus SEL NO ACCIDENTS',
 '2016 Chevrolet Express G2500 Cargo Van**159K MILES**INCLUDES BULKHEAD*',
 '2009 GMC Acadia SLT2 SLT 2 SLT-2 FOR ONLY $117/mo!',
 '2010 GMC Sierra SLE 2500HD',
 '2004 Chevrolet Colorado Z71 LS Crew Cab 4x4 NO ACCIDENTS',
 '2017 Lincoln MKX Reserve Sport Utility 4D suv Blue - FINANCE ONLINE',
 '2012 Volkswagen CC',
 '2016 Chevy Silverado 2500HD double Can LT',
 '2008 Ford F-150 XLT',
 '2008 Saturn Outlook XR',
 '1 Owner! 2014 Chevy Silverado 1500 LTZ! 4x4! Crew Cab! Loaded!',
 'Third Row! 2006 Toyota Sienna CE! Affordable!',
 '2004 Ford F-350! Dually! Single Cab! Hydraulic Scissor Lift! LOW Miles',
 '2013 Ford F-350! 4x4! Super Crew! Diesel! Reliable!',
 '2018 JEEP GRAND CHEROKEE ALL WHEEL DRIVE',
 '2019 INFINITI QX80 LUXE Sport Utility 4D suv Gray - FINANCE ONLINE',
 '$245/mo - 2014 Mini Cooper S Countryman Base AWD - Easy Financing!',
 '2015 Ford Flex SEL AWD',
 '2015 Ford F-350 SD Lariat CrewCab Diesel Long Bed 4WD',
 '2018 Chevrolet Equinox LT 1LT 1 LT 1-LT FOR ONLY $236/mo!',
 '2018 Ford Fusion Titanium AWD',
 '2014 GMC Sierra 2500HD Denali Crew Cab 4WD',
 '2007 Lexus LS 460 Luxury Sedan',
 '2016 Ford F-350 SD XLT Crew Cab Long Bed 4WD',
 '2015 Jeep Grand Cherokee Overland 4WD',
 '2010 GMC Sierra 2500HD SLE Crew Cab 4WD',
 '2014 Toyota Camry XLE FOR ONLY $215/mo!',
 '***BAD CREDIT!!!***NO CREDIT!!!***APPROVED***$399 DOWN-DRIVE TODAY!!!',
 '2013 GMC Acadia SLT1 SLT 1 SLT-1 AWD! AWD SLT 1 AWD! AWD FOR ONLY $200',
 '2010 Ford Focus SES Sedan FWD GREAT ON GAS Remote Starter $3,800/OBO',
 "OPEN SATURDAY 10AM - 3PM! TALBOTT MOTORS HAS WHAT YOU'RE LOOKING FOR!",
 '2013 Ford F-250 SD Lariat Crew Cab 4WD',
 '2016 Ford F-150 XLT SuperCrew 5.5-ft. Bed 4WD',
 '2008  Chevy Colbalt',
 '2020 Kia Soul S Wagon 4D wagon Black - FINANCE ONLINE',
 '2020 Acura TLX 2.4 w/Technology Pkg Sedan 4D sedan White - FINANCE',
 '2012 Chevy Malibu LTZ',
 '2016 Dodge Challenger R/T Scat Pack Coupe 2D coupe Purple - FINANCE',
 '2007 Volkswagen Bettle']