In [2]:
%matplotlib inline

import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import pandas as pd
import os

os.chdir("C:/Users/SAI VAMSHI/Desktop/MSU MSBA/CSE801A/itm891/exercises/18")

# I want to make the figure larger
from matplotlib import pyplot as plt  
plt.rcParams['figure.figsize'] = (12,9)

# Exercise 20: Pet Adoption

In this exercise we will practice classification: we want to see if we can **classify** pets as being {low, high} risk of NOT being adopted.

This is an open-ended problem.  My criteria is that I want an **explainable classifier** to predict pet non-adoption risk into three categories, and I'd like to know how the classifier made its decision.

I haven't looked at the data myself aside from a few distribution and correlation plots.  I have no idea if this is going to result in a good classifier or not.  Part of this exercise is to find that out.

Work on this in groups.  I will debrief this next time.

## Pre-Inquiry

I've already selected a data set and numerical method, so there isn't much to do in pre-inquiry except acquiring the data and exploring it.

### Acquire the data

You will find adoptions.zip in the starter material folder on the course schedule.  Please download that to your local machine and load its content csv file into a Panda's dataframe.

I got the data from Kaggle.  There are better desciptions of what the columns are on the website: https://www.kaggle.com/aaronschlegel/austin-animal-center-shelter-intakes-and-outcomes/version/1#aac_intakes_outcomes.csv

In [4]:
df = pd.read_csv("aac_intakes_outcomes.csv")
df.head()

,age_upon_outcome,animal_id_outcome,date_of_birth,outcome_subtype,outcome_type,sex_upon_outcome,age_upon_outcome_(days),age_upon_outcome_(years),age_upon_outcome_age_group,outcome_datetime,...,age_upon_intake_age_group,intake_datetime,intake_month,intake_year,intake_monthyear,intake_weekday,intake_hour,intake_number,time_in_shelter,time_in_shelter_days
0,10 years,A006100,2007-07-09 00:00:00,NaN,Return to Owner,Neutered Male,3650,10.0,"(7.5, 10.0]",2017-12-07 14:07:00,...,"(7.5, 10.0]",2017-12-07 00:00:00,12,2017,2017-12,Thursday,14,1.0,0 days 14:07:00.000000000,0.588194
1,7 years,A006100,2007-07-09 00:00:00,NaN,Return to Owner,Neutered Male,2555,7.0,"(5.0, 7.5]",2014-12-20 16:35:00,...,"(5.0, 7.5]",2014-12-19 10:21:00,12,2014,2014-12,Friday,10,2.0,1 days 06:14:00.000000000,1.259722
2,6 years,A006100,2007-07-09 00:00:00,NaN,Return to Owner,Neutered Male,2190,6.0,"(5.0, 7.5]",2014-03-08 17:10:00,...,"(5.0, 7.5]",2014-03-07 14:26:00,3,2014,2014-03,Friday,14,3.0,1 days 02:44:00.000000000,1.113889
3,10 years,A047759,2004-04-02 00:00:00,Partner,Transfer,Neutered Male,3650,10.0,"(7.5, 10.0]",2014-04-07 15:12:00,...,"(7.5, 10.0]",2014-04-02 15:55:00,4,2014,2014-04,Wednesday,15,1.0,4 days 23:17:00.000000000,4.970139
4,16 years,A134067,1997-10-16 00:00:00,NaN,Return to Owner,Neutered Male,5840,16.0,"(15.0, 17.5]",2013-11-16 11:54:00,...,"(15.0, 17.5]",2013-11-16 09:02:00,11,2013,2013-11,Saturday,9,1.0,0 days 02:52:00.000000000,0.119444

In [6]:
df.dtypes

age_upon_outcome               object
animal_id_outcome              object
date_of_birth                  object
outcome_subtype                object
outcome_type                   object
sex_upon_outcome               object
age_upon_outcome_(days)         int64
age_upon_outcome_(years)      float64
age_upon_outcome_age_group     object
outcome_datetime               object
outcome_month                   int64
outcome_year                    int64
outcome_monthyear              object
outcome_weekday                object
outcome_hour                    int64
outcome_number                float64
dob_year                        int64
dob_month                       int64
dob_monthyear                  object
age_upon_intake                object
animal_id_intake               object
animal_type                    object
breed                          object
color                          object
found_location                 object
intake_condition               object
intake_type                    object
sex_upon_intake                object
count                           int64
age_upon_intake_(days)          int64
age_upon_intake_(years)       float64
age_upon_intake_age_group      object
intake_datetime                object
intake_month                    int64
intake_year                     int64
intake_monthyear               object
intake_weekday                 object
intake_hour                     int64
intake_number                 float64
time_in_shelter                object
time_in_shelter_days          float64
dtype: object

In [7]:
df.isnull().sum()

age_upon_outcome                  0
animal_id_outcome                 0
date_of_birth                     0
outcome_subtype               43324
outcome_type                     10
sex_upon_outcome                  1
age_upon_outcome_(days)           0
age_upon_outcome_(years)          0
age_upon_outcome_age_group        0
outcome_datetime                  0
outcome_month                     0
outcome_year                      0
outcome_monthyear                 0
outcome_weekday                   0
outcome_hour                      0
outcome_number                    0
dob_year                          0
dob_month                         0
dob_monthyear                     0
age_upon_intake                   0
animal_id_intake                  0
animal_type                       0
breed                             0
color                             0
found_location                    0
intake_condition                  0
intake_type                       0
sex_upon_intake                   1
count                             0
age_upon_intake_(days)            0
age_upon_intake_(years)           0
age_upon_intake_age_group         0
intake_datetime                   0
intake_month                      0
intake_year                       0
intake_monthyear                  0
intake_weekday                    0
intake_hour                       0
intake_number                     0
time_in_shelter                   0
time_in_shelter_days              0
dtype: int64

In [8]:
df.shape

(79672, 41)

### Explore the data

I want you to look at the attributes in the data set.  Some may be easily explainable, some not.  Go to the Kaggle website link above to see what each attribute's description is.

Things to explore:
* What attributes should you consider using to build the classifier?
* Are there attributes that can be discarded?  (Redundant?)
* How does the distribution of important attributes look?
* Do they look correlated with other attributes (e.g. cats vs dogs)
* What is the important attribute we want to target for clasficiation?
* How might we transform attributes?
* Do we need to split attributes?
* How big is our data set?  Do we need to sample?
* What types of animals do we have?
* What are the attributes of these animals?
* Does animal type seem to alter outcome?
* Does animal sex seem to alter outcome?
* Does an animal being "fixed" seem to alter outcome?
* Does an animal age seem to affect outcome?
* How do we even measure outcome?
* How can we turn outcome into an ordinal attribute of high, medium, and low risk for non-adoption?
* Plot, plot, plot
    - Univeriate distribution plots
    - Scatter plots to show correlations
    - Outlier plots
    - Categorical charts
    - Use color and marker shape and marker size to add additional dimensions to the plots.
    - See Seaborn's documentation for the types of plots
    
**If you don't know how to do something, Google what you want to do.  Use the resources at your disposal.**

**Look at what Seaborn offers for plots.  Examine their plotting gallery for ideas about how to examine multiple things (e.g. distributions and categorical attributes) at the same time.**

That includes what attributes to pay attention to.  Consider using [Google Scholar](https://scholar.google.com) to see what others have done.

## Inquiry Phase

Here is where you should have documentation open.  I want you to use Scikit Learn's decision tree classifier to model outcome.  The documentation will tell you how to input your data into the algorithm to model our adoption outcome.  What is missing is everything else:

* How do you want to split your data into testing and training/validation.
* Do you want to use k-fold cross validation to validate your models before testing them?
* What do you consider a good outcome?  How do you measure that?

### Preprocessing the data for the tools

Here you might want to make a copy of the original data that excludes attributes you don't think are helpful.

You will want to transform the data into something we can use to build our classifier:
* Transform the outcome variable into an ordinal {high, medium, low} attribute
* Exclude redundant and seemingly unnecessary attributes
* Transform the data into something that is easy to interpret
    - Do we want to consider days, hours, years for age?
    - Do we want specific colorings or can we get away with simplier attributes?
* We should split up our data into testing and training at this point
* Is there anything else we need to do?
    - What about sampling?
    - We should check to see that our classifier can handle the volume of data we're giving it.
    - Perhaps we should consider timing how long it takes to build each model (%%time)
    - Are there any other decisions we should make and note?

### Modeling and Testing

Here you will want to set up a protocol to perform your testing.  

* Do you want to use cross-validation or not?  
* How will you test your outcomes?  
* How do you explore your models?

## Post-Inquiry

Make the outputs pretty and come up with a story.  You should also note what you did and learned somewhere for future reference.  (Perhaps here?!)